.advantages__title-wrapper {
  text-align: center;
  margin: 0 auto;
  margin-top: 38px;
}

.advantages__title {
  margin: 0;
  padding: 0;
  padding-left: 32px;
  padding-right: 33px;
  padding-bottom: 27px;
  font-size: $font-size-title;
  line-height: 26px;
  font-weight: 700;
}

.advantages__description {
  margin: 0;
  padding: 0;
  padding-left: 18px;
  padding-right: 18px;
  font-size: $font-size-paragraph;
  line-height: 26px;
  font-weight: 400;
  color: $color-paragraph;
}

.advantages__image {
  display: block;
  margin: 0 auto;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.advantages__item {
  &--grey {
    background-color: #eeeeee;
    position: relative;

    &:not(:last-child)::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 5%;
      width: 90%;
      height: 1px;
      background: #000000;
      opacity: 0.1;
    }
  }
}

.advantages__wrapper {
  padding: 0;
  background-color: #81b3d2;
  color: #ffffff;
}

.not-mobile {
  display: none;
}

.advantages__heading {
  margin: 0;
  padding-top: 39px;
  padding-bottom: 6px;
  font-size: $font-size-title;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

  &--grey {
    padding-top: 26px;
  }

  &--housing,
  &--souvenirs,
  &--food {
    padding-top: 28px;
    padding-bottom: 0;
    text-align: left;
    position: relative;
  }

  &--housing::before {
    content: "";
    position: absolute;
    top: 20px;
    left: -48px;

    display: block;
    width: 38px;
    height: 36px;

    background-image: url("../img/icon-house.svg");
    background-repeat: no-repeat;
    background-size: 38px 36px;
  }

  &--souvenirs::before {
    content: "";
    position: absolute;
    top: 17px;
    left: -45px;

    display: block;
    width: 32px;
    height: 38px;

    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-size: 32px 38px;
  }

  &--food::before {
    content: "";
    position: absolute;
    top: 24px;
    left: -51px;

    display: block;
    width: 39px;
    height: 34px;

    background-image: url("../img/icon-burger.svg");
    background-repeat: no-repeat;
    background-size: 39px 34px;
  }
}

.advantages__number {
  font-size: $font-size-paragraph;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -14px;

    width: 9px;
    height: 1px;
    background: #333333;
  }

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: -14px;

    width: 9px;
    height: 1px;
    background: #333333;
  }

  &--white {
    &::before,
    &::after {
      background: #ffffff;
    }
  }
}

.advantages__caption {
  margin: 0;
  padding-left: 28px;
  padding-right: 27px;
  padding-bottom: 40px;
  padding-top: 13px;
  text-align: center;
  color: $color-paragraph;
  line-height: 21px;

  &--white {
    color: #ffffff;
  }

  &--grey {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 29px;
  }
}

.advantages__sublist {
  width: 70%;
  margin: 0 auto;
  margin-top: 7px;

  list-style: none;
  text-align: left;
  background-color: $glob-bg-color;
}

.advantages__subitem {
  &:last-child {
    padding-bottom: 37px;
  }

  padding-left: 2px;
  padding-bottom: 0;
}

.advantages__subcaption {
  font-size: $font-size-paragraph;
  line-height: 21px;
  margin-bottom: 0;
}

@media (max-width: $mobile-width-only) {
  .advantages__description {
    padding-bottom: 0;
  }

  .advantages__item {
    &:first-child {
      position: relative;

      &::before {
        content: "";

        position: absolute;
        top: -1px;
        left: 0;

        display: block;
        width: 100%;
        height: 43px;

        background-image: url("../img/bg-triangle.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
  }

  .advantages__heading {
    &--first {
      padding-top: 83px;
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages__title-wrapper {
    width: 520px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 21px;
  }

  .advantages__title {
    padding-bottom: 28px;
    font-size: 21px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 50px;
  }

  .advantages__wrapper {
    width: 33.3%;
  }

  .advantages__item {
    &:first-child::before {
      display: none;
    }

    &--blue {
      display: flex;
      flex-grow: 1;
    }

    &--grey {
      width: 33.3%;
      flex-grow: 1;

      &::before {
        display: none;
      }
    }
  }

  picture {
    flex-grow: 1;
  }

  .advantages__image {
    height: 256px;
    width: 100%;
    object-fit: cover;
  }

  .not-mobile {
    display: block;
  }

  .advantages__heading {
    font-size: 21px;
    padding-top: 46px;
    padding-left: 25%;
    padding-right: 25%;

    &--first {
      padding-top: 46px;
    }

    &--bridge {
      padding-left: 50px;
      padding-right: 50px;
      text-align: center;
    }

    &--housing,
    &--souvenirs,
    &--food {
      text-align: center;
      padding-top: 153px;
      padding-bottom: 20px;
    }

    &--housing::before {
      content: "";
      position: absolute;
      top: 53px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;

      width: 75px;
      height: 72px;

      background-image: url("../img/icon-house.svg");
      background-repeat: no-repeat;
      background-size: 75px 72px;
    }

    &--souvenirs::before {
      content: "";
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);

      display: block;
      width: 64px;
      height: 75px;

      background-image: url("../img/icon-gift.svg");
      background-repeat: no-repeat;
      background-size: 64px 75px;
    }

    &--food::before {
      content: "";
      position: absolute;
      top: 56px;
      left: 50%;
      transform: translateX(-50%);

      display: block;
      width: 77px;
      height: 68px;

      background-image: url("../img/icon-burger.svg");
      background-repeat: no-repeat;
      background-size: 77px 68px;
    }
  }

  .advantages__caption {
    padding-left: 47px;
    padding-right: 47px;
    padding-bottom: 10px;

    &--grey {
      padding-bottom: 46px;
    }
  }

  .advantages__number {
    padding-bottom: 21px;
  }

  .advantages__sublist {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .advantages__subitem {
    width: 33.3%;
    position: relative;

    &--housing {
      order: 1;
    }

    &--food {
      order: 2;
    }

    &--souvenirs {
      order: 3;
    }
  }

  .advantages__subcaption {
    margin: 0;
    text-align: center;
    padding-left: 45px;
    padding-right: 46px;
    padding-bottom: 23px;
  }

  .advantages__wrapper--order {
    order: 2;
  }

  .advantages__image--order {
    order: 1;
  }
}

@media (min-width: $desktop-width) {
  .advantages__heading {
    padding-top: 53px;
    padding-left: 94px;
    padding-right: 94px;

    &--housing,
    &--souvenirs,
    &--food {
      padding-top: 152px;
      padding-bottom: 21px;
    }

    &--grey {
      padding-top: 41px;
      padding-bottom: 10px;
      padding-left: 120px;
      padding-right: 120px;
    }
  }

  .advantages__caption {
    padding-left: 68px;
    padding-right: 67px;

    &--grey {
      padding-top: 0;
      padding-bottom: 61px;
      padding-left: 52px;
      padding-right: 52px;
    }
  }

  .advantages__sublist {
    margin-bottom: 47px;
  }

  .advantages__subcaption {
    margin: 0;
    padding-left: 55px;
    padding-right: 57px;
    padding-bottom: 0;

    &--souvenirs {
      padding-right: 73px;
    }
  }
}
