.button {
  display: inline-block;
  min-width: 50px;
  padding: 30px 45px;

  font-weight: 700;
  font-size: 21px;
  line-height: 1px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  text-decoration: none;

  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}
