.copyright {
  text-align: center;
  padding-bottom: 28px;
  padding-right: 20px;
}

.copyright__link {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 43px;
}

.copyright__link--image {
  width: 27px;
  height: 34px;
}
//
// .copyright__text {
//   padding-left: 95px;
// }
