.copyright {
  text-align: center;
  padding-bottom: 29px;
  font-size: $font-size-paragraph;
  line-height: 26px;
  font-weight: 400;
}

.copyright__link {
  display: inline-block;
  vertical-align: middle;
  padding-left: 6px;
  width: 27px;
  height: 34px;

  svg {
    width: 27px;
    height: 34px;
  }
}
