.gallery {
  margin-bottom: 30px;
}

.gallery__title-wrapper {
  margin-top: 44px;
  margin-bottom: 33px;
  padding-left: 20px;
  padding-right: 20px;
}

.gallery__title {
  font-size: $font-size-title;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.gallery__description {
  margin: 0;
  padding: 0;

  font-size: $font-size-paragraph;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.gallery__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery__item {
  border-top: 1px solid #eeeeee;
  text-align: left;

  &:last-child {
    border-bottom: 1px solid #eeeeee;
  }

  & img {
    display: block;
    margin: 0 auto;
    padding-top: 22px;
  }
}

.gallery__caption-wrapper {
  @include container-mobile;

  padding-left: 20px;
  box-sizing: border-box;
}

.gallery__caption {
  margin: 0;
  padding-top: 17px;
  font-size: $font-size-paragraph;
  line-height: 24px;
  font-weight: 700;
}

.gallery__author {
  display: block;
  text-transform: none;
  font-size: $font-size-paragraph;
  font-weight: 400;
  color: $color-paragraph;
}

.gallery__like {
  position: relative;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 37px;
  font-size: $font-size-paragraph;
  line-height: 24px;
  font-weight: 700;

  & svg path {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .gallery {
    @include container-tablet;
  }

  .gallery__title {
    font-size: 30px;
  }

  .gallery__description {
    padding-bottom: 75px;
  }

  .gallery__list {
    margin: 0;
    padding: 0 60px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }

  .gallery__item {
    padding: 0;
    border-top: none;

    & img {
      padding-top: 0;
    }
  }

  .gallery__caption-wrapper {
    width: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;

    &--grey {
      background-color: #eaeaea;
    }
  }

  .gallery__caption {
    padding-left: 20px;
  }

  .gallery__author {
    padding-bottom: 15px;
  }

  .gallery__like {
    padding-right: 20px;

    &::before {
      left: 5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .gallery {
    @include container-desktop;
  }

  .gallery__list {
    padding: 0;
  }

  .gallery__item {
    position: relative;
  }

  .gallery__caption-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .gallery__author,
  .gallery__caption,
  .gallery__like {
    color: #ffffff;
    opacity: 1;
  }

  .gallery__like {
    & svg path {
      fill: #ffffff;
      opacity: 1;
    }
  }
}
