.gallery {
  margin-bottom: 39px;
}

.gallery__title {
  margin-top: 44px;
  font-size: $font-size-title;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.gallery__description {
  margin: 0;
  padding: 0;
  padding-bottom: 33px;
  font-size: $font-size-paragraph;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.gallery__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.gallery__item {
  border-top: 1px solid #eeeeee;
}

.gallery__caption {
  margin: 0;
  padding-top: 17px;
  font-size: $font-size-paragraph;
  line-height: 24px;
  font-weight: 700;
}

.gallery__author {
  display: block;
  text-transform: none;
  font-size: $font-size-paragraph;
  font-weight: 400;
  color: $color-paragraph;
}

.gallery__like {
  margin: 0;
  padding-top: 10px;
  font-size: $font-size-paragraph;
  line-height: 24px;
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .gallery {
    @include container-tablet;
  }

  .gallery__title {
    font-size: 30px;
  }

  .gallery__description {
    padding-left: 170px;
    padding-right: 170px;
    padding-bottom: 75px;
  }

  .gallery__list {
    margin: 0;
    padding: 0;
    padding: 0 60px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }

  .gallery__item {
    padding: 0;
    border-top: none;
  }

  .gallery__caption--wrapper {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media (min-width: $desktop-width) {
  .gallery {
    @include container-desktop;
  }

  .gallery__list {
    padding: 0;
  }
}
