.hotel-search {
  @include container;
}

.hotel-search__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.hotel-search__description {
  margin: 0;
  padding: 0 30px;
  padding-bottom: 40px;
  font-size: $font-size-paragraph;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: $color-paragraph;
}

.hotel-search__link {
  margin-left: 20px;
  margin-bottom: 49px;
}

@media (min-width: $tablet-width) {

  .hotel-search {
    width: 768px;
    margin: 0 auto;
  }

  .hotel-search__title {
    font-size: 30px;
  }

  .hotel-search__description {
    padding: 0 167px;
    padding-bottom: 47px;
  }

  .hotel-search__link {
    margin-left: 155px;
    padding-left: 136px;
    padding-right: 136px;
    margin-bottom: 58px;
  }
}
