.hotel-search {
  margin-bottom: 49px;
}

.hotel-search__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.hotel-search__description {
  padding: 0 30px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.hotel-search__link {
margin-left: 20px;
}
