.hotel-search {
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 49px;
  width: 280px;
}

.hotel-search__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.hotel-search__description {
  margin: 0;
  font-size: $font-size-paragraph;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: $color-paragraph;
}

@media (min-width: $tablet-width) {
  .hotel-search {
    padding: 0 12px;
    margin-bottom: 66px;
    width: 458px;
  }

  .hotel-search__link {
    display: block;
  }

  .hotel-search__title {
    font-size: 30px;
  }

  .hotel-search__description {
    padding-bottom: 45px;
  }
}
