.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  text-align: center;
  background-color: #81b3d2;
  box-shadow: 0px 1px rgba(1, 1, 1, 0.2),
              inset 0px 1px rgba(255, 255, 255, 0.2);
}

.main-nav__link {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: $font-size-title;
  line-height: 40px;
  color: #ffffff;

  &:hover {
    background-color: #669ec0;
  }

  &:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
  }
}

@media (min-width: $tablet-width) {

  .main-nav__list {
    display: flex;
    justify-content: space-between;
  }

  .main-nav__item {
    min-width: 153px;
    min-height: 56px;
    background-color: $glob-bg-color;
    box-shadow: none;
  }

  .main-nav__link {
    color: #000000;

    &:hover {
      color: #81b3d2;
      background-color: #ffffff;
    }

    &:focus {
      color: rgba(0, 0, 0, 0.3);
      background-color: #ffffff;
    }
  }
}
