.page-footer {
  margin-top: 10px;
  @include container;
}

.page-footer__hashtag {
  margin: 0;
  padding-left: 92px;
  padding-top: 26px;
  padding-bottom: 36px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
