.page-footer {
  // padding: 10px 20px;
  margin: 0 auto;
}

.page-footer__hashtag {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    box-sizing: border-box;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .page-footer__hashtag {
    margin: 0;
    padding-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    @include container-desktop;

    box-sizing: border-box;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
