.page-footer {
  padding: 10px 20px;
  margin: 0 auto;
}

.page-footer__wrapper {
  @include container-mobile;
  //
  // width: 280px;
  // margin: 0 auto;
}

.page-footer__hashtag {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

@media (min-width: $tablet-width) {
  @include container-tablet;

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}


@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    @include container-desktop;
  }
}
