.review {
  margin-bottom: 47px;
}

.review__title-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 17px;
}

.review__title {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 26px;
  font-size: $font-size-title;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.review__description {
  margin: 0;
  padding-bottom: 16px;
  font-size: $font-size-paragraph;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: $color-paragraph;
}

.review__group {
  position: relative;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #f2f2f2;
  }

  &--contacts {
    order: 3;
    flex-grow: 1;
    z-index: 0;
  }

  &--impression {
    padding-bottom: 27px;
  }

  &--attractions {
    padding-bottom: 0;
  }
}

.review__legend {
  margin: 0;
  padding: 0;
  padding-top: 19px;
  font-size: $font-size-title;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

  &--contacts {
    padding-bottom: 6px;
  }

  &--impression {
    padding-bottom: 5px;
  }

  &--comment {
    padding-bottom: 11px;
  }
}

.review__item {
  margin-top: 17px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  &--contacts {
    margin: 0;
    margin-top: 10px;
    display: block;
    position: relative;
  }

  &--username {
    margin-bottom: 16px;
  }

  &--impression  {
    padding: 0;
    margin-top: 14px;
    margin-bottom: 0;
  }

  &--attractions {
    margin-top: 13px;
    margin-bottom: 25px;
    padding: 0;
  }
}

.review__label {
  font-size: $font-size-paragraph;
  line-height: 26px;
  color: $color-paragraph;
  text-align: left;

  &--contacts {
    padding-left: 22px;
  }
}

.review__input {
  @include placeholder;

  flex-grow: 1;
  margin-left: 15px;
  padding-left: 18px;
  height: 58px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  border: solid 4px #f2f2f2;

  &:hover {
    background-color: #e5e5e5;
    border: solid 4px #e5e5e5;
  }

  &:focus {
    border: solid 4px #e5e5e5;
    background-color: #ffffff;
  }

  &--phone {
    margin-top: 8px;
    margin-left: 0;
    width: 100%;
  }

  &--email {
    margin-top: 7px;
    margin-left: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  &--impression {
    flex-grow: 0;
  }

  &--attractions {
    flex-grow: 0;
  }
}

.review__input--phone-image {
  display: block;
  width: 58px;
  height: 58px;
  border: none;
  background-color: #e6e6e6;
  position: absolute;
  top: 34px;
  right: 0;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.review__input--email-image {
  display: block;
  width: 58px;
  height: 58px;
  border: none;
  background-color: #e6e6e6;
  position: absolute;
  top: 33px;
  right: 0;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.review__comment {
  margin-bottom: 35px;
  padding-left: 16px;
  padding-top: 13px;
  width: 100%;
  height: 160px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  font-size: $font-size-title;
  line-height: 26px;
  font-weight: 700;
  border: solid 4px #f2f2f2;

  &:hover {
    background-color: #e5e5e5;
    border: solid 4px #e5e5e5;
  }

  &:focus {
    border: solid 4px #e5e5e5;
    background-color: #ffffff;
  }
}

.review-wrapper {
  padding: 0 20px;
}

.review__button {
  width: 100%;
  padding: 16px 40px;
}

.review__required-fields {
  display: none;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0;
  display: none;
  width: 53px;
  height: 53px;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  padding: 0;
  position: relative;
  font-size: $font-size-title;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  color: #000000;
  cursor: pointer;
}

input[type="radio"] + label::before {
  content: "";
  margin-right: 19px;
  display: inline-block;
  vertical-align: middle;
  height: 55px;
  width: 55px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 17px;
  display: inline-block;
  vertical-align: middle;
  height: 21px;
  width: 21px;
  background-color: #000000;
  border-radius: 50%;
}

input[type="checkbox"] + label::before {
  margin-right: 19px;
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 55px;
  width: 55px;
  background-color: #f2f2f2;
  border-radius: 10%;
}

input[type="checkbox"]:checked + label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $tablet-width) {
  .review {
    margin-top: 76px;
    margin-bottom: 61px;
  }

  .review__title-wrapper {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 48px;
    width: 445px;
  }

  .review__title {
    padding: 0;
    padding-bottom: 30px;
    font-size: 30px;
  }

  .review__form {
    display: flex;
    flex-wrap: wrap;
    margin: 0 60px;
    justify-content: space-between;
  }

  .review__legend {
    padding-left: 58px;
    padding-right: 58px;
    padding-top: 10px;
    font-size: 21px;

    &--username {
      margin-bottom: 41px;
      text-align: left;
    }

    &--impression {
      text-align: left;
      margin-bottom: 41px;
      padding-left: 0;
      padding-right: 0;
    }

    &--contacts {
      padding-bottom: 4px;
    }

    &--attractions {
      margin-bottom: 15px;
    }

    &--comment {
      padding-bottom: 56px;
    }
  }

  .review__item {
    &--impression {
      margin-bottom: 23px;
    }

    &--contacts {
      margin-top: 21px;
    }

    &--attractions {
      margin: 0;
    }
  }

  .review__label--username {
    padding-left: 58px;
  }

  .review__group {
    border-top: 1px solid #f2f2f2;
    margin-bottom: 37px;

    &::before {
      display: none;
    }

    &--impression {
      padding: 0;
      order: 1;
      flex-grow: 1;
      width: 45%;

      border-top: none;
    }

    &--username {
      padding: 0;
      order: 2;
      flex-grow: 1;
      width: 30%;
      border-top: none;
      border-left: 1px solid #f2f2f2;
    }

    &--contacts {
      padding: 0;
      margin-bottom: 24px;
      position: relative;
      order: 3;
      flex-grow: 1;
      z-index: 0;
    }

    &--attractions {
      padding: 0;
      position: relative;

      order: 4;
      flex-grow: 1;
    }

    &--comment {
      padding: 0;
      order: 5;
      flex-grow: 1;
      position: relative;
    }
  }

  .review-wrapper {
    padding: 0;
    order: 6;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: baseline;
  }

  .review__required-fields {
    display: inline-block;
    color: $color-paragraph;
  }

  .review__comment {
    min-width: 648px;
  }

  .review__button {
    width: 50%;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 64px;
    padding-right: 75px;
  }

  input[type="radio"] + label::before  {
    margin-right: 15px;
  }

  .review__attractions-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .review {
    margin-bottom: 66px;
  }

  .review__form {
    justify-content: center;
    margin: 0 120px;
  }

  .review__contacts-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .review__item {
    &--contacts {
      display: flex;
    }
  }

  .review__label {
    &--contacts {
      padding-left: 0;
      padding-right: 16px;
    }

    &--hidden {
      display: none;
    }
  }

  .review__input {
    &--phone {
      width: 315px;
    }

    &--email {
      width: 316px;
    }
  }

  .review__input--phone-image {
    position: absolute;
    top: 18px;
    right: 0;
  }

  .review__input--email-image {
    position: absolute;
    top: 7px;
    right: 0;
  }
}
