.social__list {
  display: flex;
  justify-content: center;
  margin-left: 3px;
  padding: 0;
  margin-bottom: 40px;
  list-style: none;
}

.social__item {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-right: 6px;

  &--facebook {
    width: 47px;
  }

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.social__link-icon {
  fill: #ffffff;
}

.social__link {
  padding: 0;
  display: block;
  width: 46px;
  height: 48px;

  &:active .social__link-icon {
    opacity: 0.3;
  }

  &--twitter {
    svg {
      padding-left: 14px;
      padding-top: 15px;
    }
  }

  &--facebook {
    svg {
      padding-left: 19px;
      padding-top: 14px;
    }
  }

  &--youtube {
    svg {
      padding-left: 13px;
      padding-top: 17px;
    }
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 4px;
  }
}
