.social__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style: none;
}

.social__item {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-right: 6px;

  &--facebook {
    width: 47px;
  }

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.social__link-icon {
  fill: #ffffff;
}

.social__link {
  display: block;

  &:active .social__link-icon {
    opacity: 0.3;
  }

  &--twitter {
    padding-left: 15px;
    padding-top: 14px;
  }

  &--facebook {
    padding-left: 20px;
    padding-top: 14px;
  }

  &--youtube {
    padding-left: 14px;
    padding-top: 13px;
  }
}
