body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  font-size: $font-size-paragraph;
  text-transform: uppercase;
  text-decoration: none;
}

a {
  text-decoration: $link-decoration;
}

img {
  max-width: 100%;
  height: auto;
}
