@mixin container {
  width: 320px;
  margin: 0 auto;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    font-size: $font-size-title;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    }

  &:-moz-placeholder {
    font-size: $font-size-title;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    }

  &::-moz-placeholder {
    font-size: $font-size-title;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    }

  &:-ms-input-placeholder {
    font-size: $font-size-title;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    }
}
