@mixin container {
  width: 320px;
  margin: 0 auto;
}

@mixin placeholder {

  &::placeholder {
    font-size: $font-size-title;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
  }
}
