@mixin container-mobile {
  width: 320px;
  margin: 0 auto;
}

@mixin container-tablet {
  width: 768px;
  margin: 0 auto;
}

@mixin container-desktop {
  width: 1200px;
  margin: 0 auto;
}


@mixin placeholder {
  &::placeholder {
    font-family: "PT Sans", "Arial", sans-serif;
    text-align: left;
    font-size: $font-size-title;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
  }
}
