@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff") format("woff");
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff") format("woff");
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: 700;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  font-size: $font-size-paragraph;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $glob-bg-color;
}

a {
  text-decoration: $link-decoration;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
