$font-stack: "PT Sans", sans-serif;
$font-size-title: 18px;
$font-size-paragraph: 14px;
$color-paragraph: #333333;
$link-decoration: none;
$glob-bg-color: #ffffff;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
